.formDiv{
    margin: auto;
    margin-top: 15%;
    width: 25%;
    padding: 4%;
    background-color: #EDDBCE;
    border-radius: 4%;
}

#firsth2{
    text-align: center;
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
}
.btnL{
    margin-top: 20px;
}
.input2{
    margin-top: 5px;
}

p:hover{
    cursor: pointer;
}